@model Wedding

@if (Model == null)
{
    <h2>OOps</h2>
}
else
{
    <div>
        <form method="post" asp-action="Update" asp-controller="Wedding" asp-route-wedID="@Model.WedId">
            <div class="text-warning" asp-validation-summary="All"></div>
            <div class="m-2">
                <label asp-for="WedOne"></label>
                <input asp-for="WedOne" />
            </div>

            <div class="m-2">
                <label asp-for="WedTwo"></label>
                <input asp-for="WedTwo" />
            </div>
            <div class="m-2">
                <label asp-for="WedDate"></label>
                <input asp-for="WedDate" />
            </div>
            <div class="m-2">
                <label asp-for="WedAddy"></label>
                <input asp-for="WedAddy" />
            </div>
            <button class="btn btn-outline-secondary" type="submit">Update</button>
        </form>
    </div>
}